.dbg_info {
  font-size: 0.8em;
}
.gutter-offset {
  width: 3em;
}
.gutter-bytes {
  width: 6em;
}
.gutter-clock {
  width: 0.5em;
}
.gutter-info {
  width: 1em;
  cursor: cell;
}
.CodeMirror-gutter-elt:hover {
  text-decoration: underline;
  cursor: cell;
}
.currentpc-span {
  background-color: #7e2a70;
}
.currentpc-marker {
  color: #ff66ee;
}
.currentpc-span-blocked {
  background-color: #7e2a70;
}
.currentpc-marker-blocked {
  color: #ffee33;
}
.mark-error {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #ff6666;
  text-decoration-thickness: 1px;
}
.tooltipbox {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #660000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 10;
    /* <pre> tag wrap */
     white-space: pre-wrap;       /* css-3 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
}
.tooltipbox:hover .tooltiptext {
    visibility: visible;
}
.tooltiperror {
 color: #ff6666;
 font-weight: bold;
}
.tooltiperrorline {
 color:#ffcccc;
 background-color:#660000;
}
.tooltipinfoline {
 color:#ccccff;
 background-color:#000066;
}
.tooltiptrack {
    background-color: #666;
    color: #fff;
    text-align: left;
    border: 2px solid #999;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    pointer-events: none;
}
#controls_top {
  position:absolute;
  padding:0.5em;
  height:3em;
  width:100%;
  background-color:#999;
}
#notebook {
  position:absolute;
  top:3em;
  bottom:0;
  left:0;
  right:0;
  background-color:#666;
  overflow:hidden;
  display:flex;
  flex-direction:row;
}
#workspace {
  background-color:#333;
  overflow:hidden;
}
div.editor {
  line-height:1.25;
  font-size:12pt;
}
div.memdump {
  background-color: #333;
  color: #66ff66;
  white-space: pre;
  margin-top: 20px auto 0;
  font-family: "Andale Mono", "Menlo", "Lucida Console", monospace;
  font-size: 10pt;
}
div.mem_info {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #333;
  color: #66ff66;
  white-space: pre;
  padding: 20px;
  z-index: 12;
  font-family: "Andale Mono", "Menlo", "Lucida Console", monospace;
  font-size: 12pt;
  box-shadow: 0px 0px 8px rgba(0,0,0,.5);
  max-height: 90vh;
  overflow-y: auto;
}
div.mem_info a {
  color: #99ff99;
  font-weight: bold;
  text-decoration: underline;
}
div.mem_info a:hover {
  background-color: #333399;
  cursor: pointer;
}
div.mem_info a.selected {
 color: #ffffff;
}
.mem_info_links {
 text-align:right;
}
.btn_group {
  border-radius:8px;
  padding:8px;
  margin-left:8px;
  background-color: #666;
}
.btn_group button {
  padding-left:4px;
  padding-right:4px;
  padding-top:2px;
  padding-bottom:2px;
  margin:1px;
  vertical-align:baseline;
}
.btn_label {
  color: #ccc;
}
.btn_group.debug_group {
}
.btn_group.view_group {
}
.btn_active {
  color: #33cc33 !important;
}
.btn_stopped {
  color: #ff9933 !important;
}
.btn_recording {
  color: #ff6666 !important;
}
.btn_toolbar {
 margin:4px;
}
span.hilite {
  color: #ff66ff;
}
div.has-errors {
  background-color: #ff6666 !important;
}
div.is-busy-unused {
  background-color: #8888bb !important;
}
#error_alert {
  max-width: 45%;
}
#error_alert_msg {
  margin-right: 2em;
}
div.menu_div {
  position: absolute;
  width: 200px;
}
div.booklink {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 6px;
  background-color: #ffffff;
  display:none;
}
div.twitbtn {
  position: fixed;
  bottom: 0%;
  right: 0%;
  padding: 10px;
}
a.twitbtn {
  color:#333399;
  font-weight: bold;
}
a.dropdown-toggle {
  color:#66ee66;
  padding:3px;
}
/* http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing */
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
div.emulator {
  background-color: #666;
  margin-top: 20px auto 0;
  display:flex;
  flex-direction:column;
}
div.emuoverlay {
  display:flex;
  flex-direction:column;
  height:100%;
}
div.emuscope {
  background-color:#333;
  z-index:1;
}
div.emuspacer {
  width:100%;
}
/* has to be here b/c renders differently after first load if in inline style */
.emuvideo {
  border-radius:20px;
  border: 4px solid #222;
  outline-color: #ccc;
  padding: 20px;
  background: #000;
  margin-top:40px;
  margin-left:5%;
  margin-right:5%;
  width:90%;
  pointer-events:auto;
}
.emuvideo:focus {
  outline:none;
  border-color:#888;
}
canvas.pixelated {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
.palbtn {
  width:2em;
  height:2em;
  border-style:none;
}
.palbtn.selected {
  border-width:2px;
  border-color:white;
  border-style:dotted;
}
#javatari-screen canvas {
  box-sizing: content-box;
}
#javatari-screen div {
  box-sizing: content-box;
}
@font-face {
    font-family: TinyFont;
    src: url(04B_03__.TTF);
}
.toolbarMenuButton {
  background-color:#666;
  border-style:solid;
  position:relative;
  margin-left:0.5em;
  margin-right:0.5em;
}
a.toolbarMenuButton {
  padding:0.3em;
}
a.dropdown-toggle {
}
a.dropdown-toggle:hover {
 color:#ffffff;
 text-shadow: 0px 0px 2px black;
}
.nav-tabs > li > a.tab {
  line-height: 1.0;
}
.twitter-follow-button,
.twitter-follow-button:focus {
  border-width:3px;
  border-color:#9999ff;
  background-color:#333399;
  border-style:solid;
  font-family: "Andale Mono", "Menlo", "Lucida Console", monospace;
  color:#77aaaa;
  padding:6px;
}
.twitter-follow-button:hover {
  color:#99ffff;
}
.dropdown-menu .dropdown-item-checked::before {
  position: absolute;
  left: .4rem;
  content: '\2713';
  font-weight: 400;
}
div.replaydiv {
  width:100%;
  bottom:0;
  z-index:1;
  background-color: #333;
  padding:0.5em;
}
.slider {
 margin-left: 1em;
 margin-right: 1em;
}
.gutter {
  background-color: #555;
  background-repeat: no-repeat;
  background-position: 50%;
  pointer-events:auto;
  z-index:4;
}
.gutter.gutter-horizontal {
  background-image: url('grips/vertical.png');
  cursor: col-resize;
}
.gutter.gutter-vertical {
  background-image: url('grips/horizontal.png');
  cursor: row-resize;
}
.gutter.gutter-vertical {
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-horizontal {
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  height:100%;
}
.split,
.gutter.gutter-horizontal {
  height: 100%;
}
div.markdown {
 background-color: #fff;
 width:100%;
 padding:2em;
 user-select: text;
}
div.markdown table {
 margin:1em;
}
div.markdown td {
 padding:0.2em;
}
div.markdown th {
 padding:0.2em;
}
#sidebar {
  overflow:auto;
}
#sidebar ul {
  list-style-type:none;
  padding:1em;
}
#sidebar a {
  color:#ddffdd;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  display:block;
}
#sidebar a:focus {
  text-decoration:none;
}
#sidebar .dropdown-item-checked {
  font-weight:bold;
  background-color:#333;
}
.logo-gradient {
  font-size: 1.25em;
  margin-top: 0.15em;
  background: linear-gradient(to right, #ff9999, #ffff99, #99ff99, #99ffff);
  background-clip: text;
  -webkit-background-clip: text;
  color:rgba(0,0,0,0);
}
.logo-gradient:hover {
  text-shadow: 0px 0px 0.5em rgba(255,255,255,1);
  text-decoration: underline;
  text-decoration-color: #ddd;
  text-decoration-thickness: 1px;
}
.disable-select {
  user-select: none;
}
.enable-select {
  user-select: auto;
}
.alert {
 z-index:8;
}
.segment {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius:8px;
  color: #333;
  background-color:#999;
  display:grid;
  justify-content: center;
  align-content: center;
}
.segment:hover {
  border-color: #ffffff;
  cursor: pointer;
}
.seg_code { color: #ccddff; }
.seg_data { color: #aaeeaa; }
.seg_io { color: #ffcccc; }
.seg_stack { color: #ffff66; }
.seg_unknown { color: #cccccc; }
.segment.segment-ram {
  background-color:#aaeeaa;
}
.segment.segment-rom {
  background-color:#ccddff;
}
.segment.segment-io {
  background-color:#ffcccc;
}
.segment-offset {
  font-family: "Andale Mono", "Menlo", "Lucida Console", monospace;
  font-size: 12pt;
  color:#66dd66;
}
.vertical-scroll {
 height:100%;
 overflow-y:auto;
}
div.profiler {
  background-color: #333;
  color: #ddd;
  white-space: pre;
  margin-top: 20px auto 0;
  font-family: "Andale Mono", "Menlo", "Lucida Console", monospace;
  font-size: 10pt;
}
span.profiler-lineno {
  color: #fff;
}
span.profiler-local {
  color: #999;
}
span.profiler-cident {
  color: #99ffff;
}
div.asset_file {
  border: 2px solid black;
  border-radius:8px;
  color: #ddd;
  background-color:#666;
  margin:0.5em;
  padding:1em;
}
div.asset_file select {
  color: #000;
}
div.asset_file_header {
  font-weight: bold;
  color: white;
  background-color: #333;
  border-radius: 8px;
  padding-left: 1em;
}
div.asset_grid {
  line-height:0;
  margin: 1em;
}
div.asset_grid span {
  white-space: nowrap;
}
.asset_cell {
  padding: 0px;
  border: 1px solid black;
}
.asset_cell:hover {
  border: 1px solid white;
}
.asset_cell.selected {
  border: 1px dotted white !important;
  box-shadow: 0px 0px 1em rgba(255,255,255,1);
}
td.asset_editable {
  padding:0.3em;
  font-family: "Andale Mono", "Menlo", "Lucida Console", monospace;
}
div.asset_dual {
  display: flex;
  align-items: center;
}
div.asset_dual table {
  border-spacing: 10px;
  border-collapse: separate;
}
div.asset_editor {
  border-radius:16px;
  padding:16px;
  margin:16px;
  background-color:#999;
  display:flex;
  flex-direction:column;
  align-items:center;
}
div.asset_toolbar {
  padding:8px;
  margin:8px;
}
.control-insns {
  margin-top: auto;
  margin-bottom: 2em;
}
.control-key {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 0.6em;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #eee;
  margin-left: 1em;
  color: #666;
}
.control-def {
  color: #ccc;
}
.book-title {
  font-size:12pt;
}
.book-active span {
  font-weight: bold;
}
.book-active span::after {
  font-size: x-large;
  content: ' \2b50';
}
.pc-console {
  background-color: #000;
  color: #7f7f7f;
  white-space: pre;
  font-family: "Andale Mono", "Menlo", "Lucida Console", monospace;
  font-size: 10pt;
  line-height: 1.2;
}
.transcript {  
  background-color: #fff;
  width: 100%;
  padding: 1.25em;
  user-select: text;
  font-family: Verdana, Geneva, sans-serif;
}
.transcript-bottom {  
  background-color: #fff;
  width: 100%;
}
.transcript-split {  
  padding: 0.5em;
  background: #eee;
  box-shadow: 0 8px 6px -6px RGBA(0,0,0,0.3);
  z-index: 1;
  flex-shrink: 0;
}
.transcript-line {
  line-height: 1.5em;
  min-height: 1em;
  white-space: pre-wrap;
}
.transcript-fanfold > .transcript-line {
  min-height: 1.5em;
}
.transcript-fanfold > .transcript-line:nth-child(even) {
  background: RGBA(225,245,225,1.0);
}
.transcript-style-1 {
  font-style: italic;
}
.transcript-style-2 {
  white-space: pre-wrap;       /* css-3 */
  font-family: "Andale Mono", "Menlo", "Lucida Console", monospace;
  line-height: 1em;
  min-height: 0;
}
.transcript-style-4 {
  font-weight: bold;
}
.transcript-style-8 { /* input */
  font-weight: 600;
  text-transform: uppercase;
  color: #6666ff;
  background-color: #eeeeff;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.transcript-style-16 { /* alternate */
  color: #6666ff;
  background-color: #eeeeff;
}
.transcript-style-32 { /* alternate 2 */
  background-color: #eee;
}
.transcript-reverse {
  background-color: #666;
  color: #ddd;
}
.transcript-input {
  font-weight: 600;
  text-transform: uppercase;
  color: #6666ff;
  background-color: #eeeeff;
  margin:1%;
  width:100%;
  max-width:25em;
}
.transcript-input-char {
  max-width:5em;
}
.transcript-print-head {
  background: url('../images/print-head.png') no-repeat scroll 0 0 transparent;
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
  z-index: 6;
  pointer-events: none;
}
.transcript-print-head.printing {
  height: 5em;
}
.transcript-print-shield {
  background: '#ffffff';
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 56%, rgba(0,0,0,0) 100%);
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
  z-index: 5;
  pointer-events: none;
}
.transcript-header {
  color: #ccc;
  text-align: right;
  padding-right: 0.5em;
  padding-top: 0.5em;
}
.tree-header {
  border: 2px solid #555;
  border-radius:8px;
  color: #fff;
  background-color:#666;
  padding-left:1em;
  font-family: "Andale Mono", "Menlo", "Lucida Console", monospace;
}
.tree-content {
  padding-left:0.75em;
  padding-right:0.75em;
  font-size: small;
}
.tree-value {
  float:right;
  font-weight:normal;
  padding-right:1em;
}
.tree-expanded::after {
  float: right;
  margin-right: 1em;
  content: '\25b2';
}
.tree-collapsed::after {
  float: right;
  margin-right: 1em;
  content: '\25bc';
}
.tree-collapsed:hover, .tree-expanded:hover {
  border-color:#ccc;
}
.tree-header:hover {
  background-color: #666;
}
.tree-level-0 { display:none;}
.tree-level-1 { background-color: #638283;}
.tree-level-2 { background-color: #636e83;}
.tree-level-3 { background-color: #636483;}
.tree-level-4 { background-color: #756383;}
.tree-level-5 { background-color: #83637e;}
.tree-level-6 { background-color: #83636e;}
.tree-level-7 { background-color: #836363;}
.tree-level-8 { background-color: #837163;}
.tree-level-9 { background-color: #7b8363;}
.tree-level-10 { background-color: #738363;}
