[submodule "javatari.js"]
	path = javatari.js
	url = https://github.com/sehugg/javatari.js
[submodule "codemirror"]
	path = codemirror
	url = https://github.com/codemirror/CodeMirror
[submodule "tss"]
	path = tss
	url = https://github.com/sehugg/tss
[submodule "FileSaver.js"]
	path = FileSaver.js
	url = https://github.com/eligrey/FileSaver.js
[submodule "gif.js"]
	path = gif.js
	url = https://github.com/sehugg/gif.js
[submodule "localForage"]
	path = localForage
	url = https://github.com/localForage/localForage
[submodule "bitmap-fonts"]
	path = bitmap-fonts
	url = https://github.com/Tecate/bitmap-fonts
[submodule "ibmfonts"]
	path = ibmfonts
	url = https://github.com/farsil/ibmfonts
[submodule "jsnes"]
	path = jsnes
	url = https://github.com/sehugg/jsnes
[submodule "bootstrap-tourist"]
	path = bootstrap-tourist
	url = https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist
[submodule "nanoasm"]
	path = nanoasm
	url = https://github.com/sehugg/nanoasm
