[submodule "javatari.js"]
	path = javatari.js
	url = https://github.com/sehugg/javatari.js
[submodule "tss"]
	path = tss
	url = https://github.com/sehugg/tss
[submodule "gif.js"]
	path = gif.js
	url = https://github.com/sehugg/gif.js
[submodule "jsnes"]
	path = jsnes
	url = https://github.com/sehugg/jsnes
[submodule "nanoasm"]
	path = nanoasm
	url = https://github.com/sehugg/nanoasm
