# full iCEstick pinout:
# http://www.pighixxx.com/test/portfolio-items/icestick/

#set_io --warn-no-port RX 9
#set_io --warn-no-port TX 8
#set_io LED1 99
#set_io LED5 95

set_io clk 21

set_io out[0] 80
set_io out[1] 81

set_io --warn-no-port hpaddle 79
set_io --warn-no-port vpaddle 78

